.imgNabar {
  width: 100px;
  height: auto;
}

.img-main {
  width: 18rem;
  height: auto;
}

.card {
  border-color: black;
  padding: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
